{% extends 'base.html.twig' %}
{% import 'common/show-alert.html.twig' as showErrors %}

{% block body %}

    <h1 class="h1">{{ 'register.h1.text'|trans }}</h1>

    {{ form_start(form, {'attr': {'class':'form-without-label'}}) }}

    {% if not form.vars.valid %}
        {{ showErrors.errorAlert( [form.username, form.email, form.password.first, form.password.second]) }}
    {% endif %}

        <div class="form-row form-row__container-flex form-row__container-flex--space-between form-row__container-no-flex-xs">
            {{ form_widget(form.username, {'attr': {'class': 'form-input', "placeholder": "registration.form.username.label"|trans }} ) }}
        </div>

        <div class="form-row form-row__container-flex form-row__container-flex--space-between form-row__container-no-flex-xs">
            {{ form_widget(form.email, {'attr': {'class': 'form-input', "placeholder": "registration.form.email.label"|trans }} ) }}
        </div>

        <div class="form-row form-row__container-flex form-row__container-flex--space-between form-row__container-no-flex-xs">
            {{ form_row(form.password) }}
        </div>

        <button type="submit" class="form-button">{{ 'registration.form.summit.button'|trans }}</button>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
