{% extends 'base.html.twig' %}

{% block seo %}
    <title>{{ country|capitalize }} | UniversalFlower</title>
    <meta name="description" content="{{ 'country.meta-description.text'|trans({'%country': country|capitalize}) }}"/>
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block body %}

    {% include 'common/search-bloc.html.twig' with {
            'country': country,
            'selectedEvent': event,
            'countries': searchBloc.countries,
            'catalogEvents': searchBloc.catalogEvents,
            hasEmptyOption: true,
        } only %}

    <h1 class="h1">{{ 'country.h1.text'|trans({'%country%': country|capitalize}) }}</h1>

    <section class="container-list-products">
        {% for catalogProduct in catalogProducts %}
            <article class="container-product">
                <a href="{{ path('product', { slug: [((catalogProduct.name)|replace({' ':'-'})), catalogProduct.reference]|join('-') }) }}" title="{{ catalogProduct.name }}">
                <img src="{{ asset('build/images/product/'~ catalogProduct.src_img ~'.jpg') }}" alt="{{ catalogProduct.name|capitalize }}" class="product-img" loading="lazy"/>
                    <div class="product-detail">
                        <p class="product-title">{{ catalogProduct.name|upper }}</p>
                        <p class="product-price">{{ catalogProduct.category_2 ? 'country.catalog.one.price.text'|trans({'%price%': catalogProduct.category_1}) : 'country.catalog.more.price.text'|trans({'%price%': catalogProduct.category_1}) }}</p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>

    <section class="container-list-countries">
        <h2 class="h2">{{ 'country.h2.text'|trans }}</h2>
        <ul class="list-countries">
            {% for country in searchBloc.countries %}
                <li><a href="{{ path('country', {slug: country.name_file}) }}?event={{ event }}">{{ country.name }}</a></li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
