{% extends 'base.html.twig' %}
{% set bodyClass = "international" %}

{% block seo %}    
    {% include 'common/meta-header.html.twig' with { 
        'key' : 'international', 
        'title' :  'title.text' ,
        'metaDescription' : 'meta-description.text' } only %}
{% endblock %}


{% block body %}

<h1 class="h1">{{ 'international.h1.text'|trans }}</h1>

<img src="{{ asset('build/images/banniere_1522x300.png') }}" alt="{{ 'international.img.alt.text'|trans }}" loading="lazy">

<h2 class="h2">{{ 'international.h2.text'|trans }}</h2>
{% include 'common/search-bloc.html.twig' with {
        'countries': searchBloc.countries,
        'catalogEvents': searchBloc.catalogEvents,
        hasEmptyOption: true,
    } only
%}
<div class="international-intro">{{ 'international.introduction.text'|trans }}</div>

{% include 'common/reinsurance.html.twig' %}
    <section class="international-seo-block">
        <div class="seo-block">{{ 'international.seo.block.1.text.html'|trans|raw }}</div>
        <div class="seo-block">{{ 'international.seo.block.2.text.html'|trans|raw }}</div>
    </section>
{% endblock %}
