{% extends 'base.html.twig' %}

{% block seo %}
    {% include 'common/meta-header.html.twig' with {
        'key' : 'order',
        'title' :  'title.text' ,
        'metaDescription' : 'meta-description.text' } only %}
{% endblock %}


{% block body %}
    <div class="order-detail">

        <article class="order-summary">
            <h1 class="h1">{{ 'order.summary.title.text'|trans }}</h1>
            <div class="order-product-detail">
                <div class="product-img"><img src="{{ asset('build/images/product/'~ product.src_img ~'.jpg') }}" alt=""/></div>
                <div class="product-name-price"><span class="product-name">{{ product.name }}</span> <span class="product-price">{{ productPrice }} €</span></div>
                <div class="product-delivery"><span class="">{{ 'order.summary.delivery.text'|trans }}</span><span>{{ deliveryCosts}} €</span></div>
                <div class="product-total"><span class="">{{ 'order.summary.total.text'|trans }}</span><span>{{ totalPrice }} €</span></div>
            </div>
        </article>

        <section class="order-form">
            {{ form_start(form) }}

                {% include 'order/form/date.html.twig' with {
                    'form': form,
                    'product': product
                } only %}

                {% include 'order/form/recipient.html.twig' with {
                    'formRecipient': form.recipient,
                    'country': country,
                    'product': product
                } only %}

                {% include 'order/form/sender.html.twig' with {
                    'formSender' : form.sender
                } only %}

                <p class="order-cgv">{{ 'order.cgv.accept.text'|trans }}</p>
                <button type="submit" class="form-button">{{ 'order.button.secure.payment.text'|trans }}</button>
                <div class="order-policy">{{ 'order.protection.policy.text.html'|trans|raw }}</div>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>

    </div>
{% endblock %}