{% extends 'base.html.twig' %}

{% block seo %}
    {% include 'common/meta-header.html.twig' with {
        'key' : 'payment',
        'title' :  'title.text' ,
        'metaDescription' : 'meta-description.text' } only %}
{% endblock %}

{% block body %}

    <h1 class="h1">{{ 'payment.h1.text'|trans }}</h1>

    <div class="payment-summary">

        <div class="summary-order-product">
            <h2 class="h2">{{ 'payment.summary.product.text'|trans }}</h2>
            <img src="{{ asset('build/images/product/'~ order.src_img ~'.jpg') }}" alt=""/>
            <ul>
                <li>{{ order.total }} €</li>
                <li class="summary-order-date">
                    {{ 'payment.summary.date.text'|trans }}
                    {% if lang == 'fr' %}{{ order.delivery_date|date("d/m/Y") }}{% else %}{{ order.delivery_date|date("m/d/Y") }}{% endif %}
                    {% if order.delivery_hour %} {{ 'payment.summary.hour.text'|trans }} {{ order.delivery_hour|date('H:i') }} {% endif %}.
                </li>
            </ul>
        </div>

        <div class="summary-order-recipient">
            <h2 class="h2">{{ 'payment.summary.recipient.text'|trans }}</h2>

            <ul>
                <li>{% if order.recCivility == 1 %} {{ 'civility.form.mrs.label'|trans }} {% elseif order.recCivility == 2 %} {{ 'civility.form.mr.label'|trans }} {% elseif order.recCivility == 3 %} {{ 'civility.form.mr-mrs.label'|trans}} {% elseif order.recCivility == 4 %} {{ 'civility.form.family.label'|trans }} {% endif %}
                {{ order.recName }} {{ order.recFirstname }}</li>
                {% if order.recFunCeremony %}<li> {{ 'payment.summary.recipient.funeral.ceremony.text'|trans }} : {{ order.recFunCeremony }}</li>{% endif %}
                <ul>
                    <li>{{ order.recAdress }}</li>
                    {% if order.recAddAdress %} <li>{{ order.recAddAdress }} </li>{% endif %}
                    <li>{{ order.recZipcode }} {{ order.recCity }}</li>
                    <li>{{ order.recCountry }}</li>
                    <li>{{ order.recPhone }}</li>
                    {% if order.recDetail %} <li> {{ 'payment.summary.recipient.more.info.text'|trans }} : {{ order.recDetail }} </li>{% endif %}</ul>
            </ul>
        </div>

        <div class="summary-order-sender">
            <h2 class="h2">{{ 'payment.summary.sender.text'|trans }}</h2>
            <ul>
                <li> {% if order.senCivility == 1 %} {{ 'civility.form.mrs.label'|trans }} {% elseif order.senCivility == 2 %} {{ 'civility.form.mr.label'|trans }} {% elseif order.senCivility == 3 %} {{ 'civility.form.mr-mrs.label'|trans}} {% elseif order.senCivility == 4 %} {{ 'civility.form.family.label'|trans }} {% endif %}
                    {{ order.senName }} {{ order.senFirstname }} </li>
                <li>{{ order.senEmail }}</li>
                <li> {{ order.senPhone }}</li>
                <li>{{ order.senAdress }}</li>
                {% if order.senCompany %}<li> {{ order.senCompany }}</li> {% endif %}
                <li>{{ order.senZipcode }} {{ order.senCity }}</li>
                <li> {{ order.senCountry }} </li>
            </ul>
        </div>

    </div>
{% endblock %}
